@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Patrick+Hand+SC&display=swap');

// --- Variables ---
$font-playful: 'Patrick Hand SC', cursive, sans-serif;
$font-text: 'Fredoka', sans-serif;
$font-code: 'JetBrains Mono', monospace;
$bg-secondary: #3e3d32;
/* For code blocks, blockquotes, or card backgrounds */
$fg-colour: #f8f8f2;
$light-blue: #88c0d0;
$dark-blue: #2b6cb0;
$red: #e53e3e;
$white: #ffffff;
$text-dark: #2d3748;
