{% extends 'base.html' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% endif%}
{% endblock title %}

{% block content %}

    <!-- START MINI HEADER SECTION -->
    <header
      class="page-header d-flex align-items-center justify-content-center text-center"
    >
      <div class="container hero-content">
        <h1 class="display-1 fw-bold text-white">About Us</h1>
      </div>
    </header>
    <!-- END MINI HEADER SECTION -->

      <!--start our history -->
      <section id="our-history" class="py-5 feature-section">
        <div class="container py-lg-4">
          <div class="row justify-content-center text-center">
            <div class="col-lg-11 col-xl-8">
            <div class="text-center mb-3">
                <h2 class="display-4 fw-semibold text-dark mb-3">Our History</h2>
                <p class="lead text-secondary">
                    A history of love, dedication, and building brighter futures.
                </p>
            </div>
              <p class="fs-4 fs-md-5 text-dark mb-4 text-start">
                Service for Christ Outreach Ministry (SCOM) began its grassroots operations
                in 2023 under the vision of founder Meshack Okoth, who brought over two decades
                of ministry experience to address the urgent needs of vulnerable children living
                with disabilities in Kenyan slum communities. Driven by a faith-based mandate
                to serve "the least of these," SCOM established a dedicated care and training 
                center to offer shelter, specialized education, physical therapy, and daily 
                nutrition to orphaned and differently-abled children facing extreme poverty 
                and severe societal isolation.
             </p>
             <p class="fs-4 fs-md-5 text-dark mb-4 text-start">
                In 2025, SCOM achieved a pivotal milestone when it was officially registered
                as a faith-based non-profit organization under the Societies Act in Kenya.
                Operating out of a rented facility, SCOM currently provides round-the-clock
                full-boarding care and holistic development to 25 resident children while 
                actively building toward permanent expansion. With government-approved architectural
                plans already in place to construct a custom-built facility accommodating up to 100
                children on newly acquired land, SCOM continues to expand its reach, restoring
                dignity, health, and spiritual hope to marginalized families across the region.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- END HISTORY SECTION -->

      <!-- START TIMELINE -->
      <section id="our-journey" class="py-5 timeline-section overflow-hidden bg-light" >
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-lg-8">
                <h2 class="display-4 fw-semibold text-dark mb-3">Milestones of Hope</h2>
                <p class="lead text-muted">
                    Our journey so far...
                </p>
                </div>
            </div>

            <div class="timeline position-relative">
                {% for item in timeline %}
                    {% set is_even = loop.index0 is even %}
                    <div class="timeline-item row align-items-center {% if not loop.last %}mb-5{% endif %} {{ 'flex-md-row-reverse' if not is_even }} {{ 'fade-in-left' if is_even else 'fade-in-right' }}">
                    <div class="col-md-6 timeline-text {{ 'text-start text-md-end pe-md-5' if is_even else 'text-start ps-md-5' }} mb-4 mb-md-0">
                        <h2><span class="badge bg-danger">{{ item.year }}</span></h2>
                        <h3 class="fw-semibold text-dark">{{ item.title | capitalize }}</h3>
                        <p class="text-muted fs-5 fs-md-6"> {{ item.description }} </p>
                    </div>
                    <div class="col-md-6 timeline-image {{ 'ps-md-5' if is_even else 'pe-md-5' }}">
                        <img
                        src="./static/images/{{ item.image.src }}"
                        class="img-fluid rounded-4 shadow-sm w-100 object-fit-cover"
                        style="height: 350px"
                        alt="{{ item.image.alt }}"
                        />
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
      </section>
      <!-- END TIMELINE SECTION -->

      <!-- START TEAM SECTION -->
      <section id="our-team" class="py-5 board-section">
        <div class="container py-lg-5">
          <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-8">
              <h2 class="display-4 fw-semibold text-dark mb-3"> Our Team </h2>
              <p class="lead text-muted"> Meet the individuals guiding our mission </p>
            </div>
          </div>

          <div class="row g-4">
              {% for member in team %}
                <div class="col-lg-4 col-md-6">
                <div class="card h-100 shadow border-0 rounded-4 overflow-hidden bg-white team-card position-relative" >
                    <div class="card-img-wrapper position-relative" style="height: 380px" >
                    <img
                        src="./static/images/team/{{member.image.src}}"
                        class="w-100 h-100 object-fit-cover"
                        alt="{{member.image.alt}}"
                    />
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-4 team-overlay" >
                        <h4 class="fw-semibold text-white mb-1">
                            {{member.name}}
                        </h4>
                        <span class="text-danger fw-medium">{{member.title}}</span>
                    </div>
                    </div>
                </div>
                </div>
              {% endfor %}

          </div>
        </div>
      </section>
      <!-- END BOARD OF DIRECTORS SECTION -->

    <!-- js script for timeline -->
    <script src="{{url_for('static', path='js/timeline_utils.js')}}"></script>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}
