{% extends 'base.html' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% endif%}
{% endblock title %}

{% block content %}


    <!-- START MINI HEADER SECTION -->
    <header
      class="page-header d-flex align-items-center justify-content-center text-center"
    >
      <div class="container hero-content">
        <h1 class="display-1 fw-bold text-white">Blog</h1>


        <div class="blog-hero__categories">
                <a href="{{ url_for('blog_list') }}" class="blog-hero__category-btn {% if not current_category %}blog-hero__category-btn--active{% endif %}"> All </a>

            {# also defined in the forms schemas.py #}
            {% set tags = ["stories","updates","events","impact"]%}

            {% for tag in tags %}
                <a href="{{ url_for('blog_list') }}?category={{tag}}" class="blog-hero__category-btn {% if current_category == tag %} blog-hero__category-btn--active{% endif %}">{{ tag.title() }}</a>
            {% endfor %}
        </div>

      </div>
    </header>
    <!-- END MINI HEADER SECTION -->

    <!-- start blog list section -->
    <main class="blog-main bg-white">
        {% if blogs %}
            <div class="blog-main__grid">
            {% for blog in blogs %}

                <article class="blog-card">
                    <div class="blog-card__image-wrapper">
                        <span class="blog-card__badge bg-secondary">{{blog.tags}}</span>
                        <img src="{{ blog.image }}" alt="{{ blog.title }}" class="blog-card__image" />
                    </div>

                    <div class="blog-card__content">
                        <h4 class="blog-card__title ">
                            <a class="text-dark"
                               href="{{ url_for('blog_post', slug=blog.slug) }}"
                               style="text-decoration:none;">{{ blog.title }}</a>
                        </h4>
                        <div class="blog-card__meta">
                            <span class="text-muted">
                                <i class="bi bi-calendar-week"></i> {{ blog.last_modified.strftime("%B %d, %Y")}}
                            </span>
                            <span class="text-muted">
                                <i class="bi bi-pen"></i> {{ blog.author }}
                            </span>
                        </div>

                        <div class="blog-card__details">
                            <p class="blog-card__excerpt">
                            {#
                                lower() - > makes everything lowercase
                                truncate - > ensures max text displayed in 200 chars long
                                markdown -> converts it to clean markdown
                                striptags -> removes html tags, e.g <img> <p> <h1>
                            #}
                                {{ blog.content | lower() | truncate(length=200, ) | markdown | striptags}}
                            </p>
                            <a href="{{ url_for('blog_post', slug=blog.slug) }}" class="blog-card__btn">
                                Read More <span>&rarr;</span>
                            </a>
                        </div>
                    </div>
                </article>

            {% endfor %}
            </div>
        {% else %}
            <div>
            <h2> Oops! Looks like there are no blogs listed under the selected category for now. </h2>

                {#
                <div class="blog-post__nav">
                    <a href="{{ url_for('blog_list') }}" class="btn btn--outline">
                    &larr; Back to All Posts
                    </a>
                </div>
                #}

            </div>
        {% endif %}
    </main>
    <!-- end blog list section -->

{% endblock content %}
