{% extends 'base.html' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% endif%}
{% endblock title %}

{% block content %}

    <!-- START MINI HEADER SECTION -->
    <header class="page-header d-flex align-items-center justify-content-center text-center" >
      <div class="container hero-content">
        <h1 class="display-1 fw-bold text-white">Get Involved</h1>
      </div>
    </header>
    <!-- END MINI HEADER SECTION -->

      <!-- desc of whyto get involved -->
    <section id="vision" class="py-5 feature-section">
        <div class="container py-lg-4">

            <div class="row align-items-center g-5 flex-lg-row flex-column-reverse">
                <!-- image side -->
                <div class="col-lg-6">
                    <div class="img-wrapper shadow rounded-4 overflow-hidden">
                    <img
                        src=" {{url_for('static', path='images/image-10.webp')}} "
                        class="img-fluid w-100 h-100"
                        alt="The Challenge Placeholder"
                    />
                    </div>
                </div>

                <!-- text side -->
                <div class="col-lg-6">
                    <div class="pe-lg-3">
                    <p class="fs-4 fs-md-5 text-dark mb-3">
                        Your support matters because it directly restores health, dignity,
                        and a bright future to children who would otherwise be hidden away or
                        forgotten. Rooted in Scripture—where Jesus calls us to serve
                        "the least of these" (Matthew 25:40)—we invite you to partner with
                        us through financial donations, gifts of food, diapers, and mobility aids,
                        or by contributing toward our €98,000 (KES 15,000,000) building project to
                        construct a permanent home for 100 children.
                    </p>
                    <p class="fs-4 fs-md-5 text-dark mb-3">
                        Whether you volunteer your time, share your resources, or keep our
                        home in your prayers, your partnership ensures every child experiences love,
                        grows in confidence, and fulfills their God-given potential.
                    </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

      <!-- section specific -->
      <!-- volunteering -->
      <section id="volunteering" class="py-5 feature-section bg-light">
        <div class="container py-lg-4">
        <!-- header section -->
        <h2 class=" text-center display-4 fw-semibold text-dark mb-2">
            Volunteering
        </h2>

          <div class="row align-items-center g-5">
            <!-- text section -->
            <div class="col-lg-6">
              <div class="pe-lg-3">
                <p class="fs-4 fs-md-5 text-dark mb-3">
                    Offer your time, professional skills, or compassionate presence
                    to directly support our teachers, therapists, and caregiving staff
                    in nurturing children with disabilities.
                </p>

                <h4 class="fw-semibold text-dark mb-3"> Frequently Asked Questions </h4>
                <div class="accordion" id="volunteeringFaqAccordion">
                    {% for faq in volunteering_faqs %}
                    {% set uid="volunteer-" ~ faq.id %}
                        <div class="accordion-item mb-2 border rounded-3 overflow-hidden">
                        <h6 class="accordion-header" id="heading-{{ uid }}">
                            <button
                            class="accordion-button fs-5 fs-md-6 {% if not loop.first %}collapsed{% endif %} fw-semibold"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse-{{ uid }}"
                            aria-expanded="{{ 'true' if loop.first else 'false' }}"
                            aria-controls="collapse-{{ uid }}"
                            >
                            {{ faq.question }}
                            </button>
                        </h6>
                        <div
                            id="collapse-{{ uid }}"
                            class="accordion-collapse collapse {% if loop.first %}show{% endif %}"
                            aria-labelledby="heading-{{ uid }}"
                            data-bs-parent="#volunteeringFaqAccordion"
                        >
                            <div class="accordion-body text-muted fs-5 fs-md-6 py-2 px-3">
                            {{ faq.answer }}
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="mt-4">
                  <a
                    href="{{url_for('get_involved')}}#get-involved-form-section"
                    class="btn btn-donate px-4 py-2 align-self-center"
                    >Learn More <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- image section -->
            <div class="col-lg-6">
              <div class="img-wrapper shadow rounded-4 overflow-hidden">
                <img
                  src=" {{url_for('static', path='images/image-8.webp')}} "
                  class="img-fluid w-100"
                  alt="volunteering Program Placeholder"
                />
              </div>
            </div>

          </div>
        </div>
      </section>

      <!-- wishlist -->
      <section id="wishlist" class="py-5 feature-section">
        <div class="container py-lg-4">
        <!-- header section -->
        <h2 class="text-center fw-semibold display-4 text-dark mb-2">
          Wishlist
        </h2>

        <!-- NOTE: the flex-column-reverse here switches the layout for mobile devices,
         pushing the image behind the content -->
          <div class="row align-items-center g-5 flex-column-reverse flex-lg-row">
            <!-- image section -->
            <div class="col-lg-6">
              <div class="img-wrapper shadow rounded-4 overflow-hidden">
                <img
                  src=" {{url_for('static', path='images/image-9.webp')}} "
                  class="img-fluid w-100"
                  alt="wishlist Program Placeholder"
                />
              </div>
            </div>

            <!-- content section -->
            <div class="col-lg-6">
              <div class="pe-lg-3">
                <p class="fs-4 fs-md-5 text-dark mb-3">
                    Provide essential non-monetary gifts—such as food supplies, diapers,
                    mobility aids, and educational materials—that sustain our 25 resident 
                    children. In-kind donations ensure our home remains well-stocked
                    with vital hygiene, therapy, and nutritional resources every month.
                </p>

                <h4 class="fw-semibold text-dark mb-3"> Frequently Asked Questions </h4>
                <div class="accordion" id="wishlistingFaqAccordion"> 
                    {% for faq in wishlist_faqs %}
                    {% set uid="wishlist-" ~ faq.id %}
                        <div class="accordion-item mb-2 border rounded-3 overflow-hidden">
                        <h6 class="accordion-header" id="heading-{{ uid }}">
                            <button
                            class="accordion-button fs-5 fs-md-6 {% if not loop.first %}collapsed{% endif %} fw-semibold"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse-{{ uid }}"
                            aria-expanded="{{ 'true' if loop.first else 'false' }}"
                            aria-controls="collapse-{{ uid }}"
                            >
                            {{ faq.question }}
                            </button>
                        </h6>
                        <div
                            id="collapse-{{ uid }}"
                            class="accordion-collapse collapse {% if loop.first %}show{% endif %}"
                            aria-labelledby="heading-{{ uid }}"
                            data-bs-parent="#wishlistingFaqAccordion"
                        >
                            <div class="accordion-body text-muted fs-5 fs-md-6 py-2 px-3">
                            {{ faq.answer }}
                            </div>
                        </div>
                        </div>
                    {% endfor %}

                </div>

                <div class="mt-4">
                  <a
                    href="{{url_for('get_involved')}}#get-involved-form-section"
                    class="btn btn-donate px-4 py-2 align-self-center"
                    >Learn More <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

      <!-- sponsoring -->
      <section id="sponsoring" class="py-5 feature-section bg-light">
        <div class="container py-lg-4">
        <!-- header section -->
        <h2 class="text-center fw-semibold display-4 text-dark mb-2"> Sponsoring </h2>

          <div class="row align-items-center g-5">
            <!-- image section -->
            <div class="col-lg-6">
              <div class="img-wrapper shadow rounded-4 overflow-hidden">
                <img
                  src=" {{url_for('static', path='images/image-7.webp')}} "
                  class="img-fluid w-100"
                  alt="Sponsoring Program Placeholder"
                />
              </div>
            </div>

            <!-- content section -->
            <div class="col-lg-6">
              <div class="pe-lg-3">
                <p class="fs-4 fs-md-5 text-dark mb-3">
                    Partner with us financially to cover child feeding costs, daily operations,
                    or our permanent facility building fund. With parental fees covering
                    only 40% of operational costs, monthly sponsorships bridge the critical 60%
                    gap needed to sustain our care center.
                </p>

                <h4 class="fw-semibold text-dark mb-3"> Frequently Asked Questions </h4>
                <div class="accordion" id="sponsoringFaqAccordion"> 
                    {% for faq in sponsoring_faqs %}
                    {% set uid="sponsoring-" ~ faq.id %}
                        <div class="accordion-item mb-2 border rounded-3 overflow-hidden">
                        <h6 class="accordion-header" id="heading-{{ uid }}">
                            <button
                            class="accordion-button fs-5 fs-md-6 {% if not loop.first %}collapsed{% endif %} fw-semibold"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse-{{ uid }}"
                            aria-expanded="{{ 'true' if loop.first else 'false' }}"
                            aria-controls="collapse-{{ uid }}"
                            >
                            {{ faq.question }}
                            </button>
                        </h6>
                        <div
                            id="collapse-{{ uid }}"
                            class="accordion-collapse collapse {% if loop.first %}show{% endif %}"
                            aria-labelledby="heading-{{ uid }}"
                            data-bs-parent="#sponsoringFaqAccordion"
                        >
                            <div class="accordion-body text-muted fs-5 fs-md-6 py-2 px-3">
                            {{ faq.answer }}
                            </div>
                        </div>
                        </div>
                    {% endfor %}

                </div>

                <div class="mt-4">
                  <a
                    href="{{url_for('get_involved')}}#get-involved-form-section"
                    class="btn btn-donate px-4 py-2 align-self-center"
                    >Learn More <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

      <!-- get involved form -->
      <section id="get-involved-form-section" class="py-5 get-involved-section position-relative" >
        <div class="container py-lg-4 position-relative z-2">
          <div class="text-center mb-5">
            <h2 class="display-4 fw-semibold text-dark">Get Involved</h2>
            <p class="lead text-secondary">
              Fill out the form below to let us know how you would like to
              support our children and community.
            </p>

          </div>

          <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
              <div class="card shadow-lg border-0 rounded-4 p-4 p-md-5">
                <form id="getInvolvedForm">
                  <div class="row g-3 fs-5">

                    <div class="col-12">
                        <label
                        for="username"
                        class="form-label fw-semibold text-dark"
                        >Name <span class="text-danger">*</span></label
                        >
                        <input
                        type="text"
                        class="form-control form-control-lg rounded-3 fs-5"
                        id="username"
                        name="username"
                        placeholder="Jane Doe"
                        required
                        />
                    </div>

                    <div class="col-md-6">
                      <label
                        for="from_email"
                        class="form-label fw-semibold text-dark"
                        >Email Address <span class="text-danger">*</span></label
                      >
                      <input
                        type="from_email"
                        class="form-control form-control-lg rounded-3 fs-5"
                        id="from_email"
                        name="from_email"
                        placeholder="john.doe@example.com"
                        required
                      />
                    </div>

                    <div class="col-md-6">
                      <label
                        for="phone_number"
                        class="form-label fw-semibold text-dark"
                        >Phone Number (Optional)</label
                      >
                      <input
                        type="tel"
                        class="form-control form-control-lg rounded-3 fs-5"
                        id="phone_number"
                        name="phone_number"
                        placeholder="+1 (555) 000-0000"
                      />
                    </div>

                    <div class="col-12 mt-4">
                      <label
                        for="interest"
                        class="form-label fw-semibold text-dark"
                        >How would you like to get involved?
                        <span class="text-danger">*</span></label
                      >
                      <select
                        class="form-select form-select-lg rounded-3 fs-5"
                        id="interest"
                        name="interest"
                        required
                      >
                        <option value="" selected disabled>
                          Select an area of interest...
                        </option>
                        <option value="volunteer">Volunteer</option>
                        <option value="sponsor">Sponsor a Child</option>
                        <option value="wishlist">
                          Wish List / In-Kind Donation
                        </option>
                      </select>
                    </div>

                    <div class="col-12 mt-3">
                      <label
                        for="message"
                        class="form-label fw-semibold text-dark"
                        >Message <span class="text-danger">*</span></label
                      >
                      <textarea
                        class="form-control rounded-3 fs-5"
                        id="message"
                        name="message"
                        rows="3"
                        placeholder="Tell us a little about yourself or any specific questions you have..."
                      ></textarea>
                    </div>

                    <div class="col-12 mt-4 text-center pt-3">
                      <button
                        type="submit"
                        class="btn btn-donate btn-lg w-100 fw-semibold rounded-pill py-3"
                      >
                        Submit Application
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </section>

{% endblock content %}

{% block scripts %}

    <script type="module">

        import { showToast, hideToast, getErrorMessage, } from "/static/js/toast_utils.js";

        const getInvolvedForm =document.getElementById("getInvolvedForm")

        getInvolvedForm.addEventListener("submit", async (event) => {
            // Stop default form submission - we'll handle it with JavaScript
            event.preventDefault();

            // automatically grab all fields based on their 'name' attributes
            const formData = new FormData(getInvolvedForm);
            console.log(formData)

            try {
                let response;       // declared here to persist after if...else ends

                // dont POST to our API as JSON. major boundary bug
                if (window.location.pathname === "/get-involved") {
                    response = await fetch("/api/get-involved", {
                        method: "POST",
                        body: formData,
                    });
                }

                if (!response){
                    // incase pathname is not valid
                    return "An error occurred"
                }

            if (response.ok) {
                const data = await response.json();
                console.log(data)

                // show success toast & clear form
                document.getElementById("toastNotification").classList.remove("text-bg-danger", "text-bg-warning");
                document.getElementById("toastNotification").classList.add("show", "text-bg-success");
                document.getElementById("toastMessage").textContent = `Your message has been successfully received. We'll get back to you soon!`;

                showToast("toastNotification");
                getInvolvedForm.reset();
            } else {
                const error = await response.json();
                console.log(error)
                document.getElementById("toastMessage").textContent = getErrorMessage(error);

                // show error toast & clear form
                document.getElementById("toastNotification").classList.remove("text-bg-success", "text-bg-warning");
                document.getElementById("toastNotification").classList.add("show", "text-bg-danger");
                document.getElementById("toastMessage").textContent = `We encountered an issue sending your message: ${error}. Please try again!`;

                // show error toast
                showToast("toastNotification");
            }
            } catch (error) {
                // incase of any unprecedentederror
                document.getElementById("toastNotification").classList.remove("text-bg-success", "text-bg-danger");
                document.getElementById("toastNotification").classList.add("show", "text-bg-warning");
                document.getElementById("toastMessage").textContent = `An error occurred: ${error}. Please try again.`;

                showToast("toastNotification");
            }
        });
    </script>
{% endblock scripts %}
