{% extends 'base.html' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% endif%}
{% endblock title %}

{% block content %}
    <!-- START HERO SECTION -->
    <header
        id="heroCarousel"
        class="carousel slide carousel-fade hero-section"
        data-bs-ride="carousel"
        data-bs-interval="10000"
    >
    <div class="carousel-indicators">
        <button
            type="button"
            data-bs-target="#heroCarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
        ></button>
        <button
            type="button"
            data-bs-target="#heroCarousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
        ></button>
        <button
            type="button"
            data-bs-target="#heroCarousel"
            data-bs-slide-to="2"
            aria-label="Slide 3"
        ></button>
        <button
            type="button"
            data-bs-target="#heroCarousel"
            data-bs-slide-to="3"
            aria-label="Slide 4"
            ></button>
    </div>

    <div class="carousel-inner h-80">
        <div class="carousel-item active h-100">
        <img
            src="./static/images/slide1.jpg"
            class="d-block w-100 h-100 hero-img"
            alt="Slide 1 Placeholder"
        />
        <div
            class="carousel-caption d-flex flex-column justify-content-center align-items-center"
        >
            <h1 class="display-2 fw-bold text-white mb-3">Welcome to SCOM</h1>
            <p class="lead text-white">
            Providing a safe, loving, and supportive home for children in need.
            </p>
        </div>
        </div>

        <div class="carousel-item h-100">
        <img
            src="./static/images/slide2.jpg"
            class="d-block w-100 h-100 hero-img"
            alt="Slide 2 Placeholder"
        />
        <div
            class="carousel-caption d-flex flex-column justify-content-center align-items-center"
        >
            <h1 class="display-2 fw-bold text-white mb-3">
            Empowering Young Minds
            </h1>
            <p class="lead text-white">
            Ensuring quality education, healthcare, and lifelong support.
            </p>
        </div>
        </div>

        <div class="carousel-item h-100">
        <img
            src="./static/images/slide3.jpg"
            class="d-block w-100 h-100 hero-img"
            alt="Slide 3 Placeholder"
        />
        <div
            class="carousel-caption d-flex flex-column justify-content-center align-items-center"
        >
            <h1 class="display-2 fw-bold text-white mb-3">A Place Called Home</h1>
            <p class="lead text-white">
            Creating strong bonds and a nurturing family environment.
            </p>
        </div>
        </div>

        <div class="carousel-item h-100">
        <img
            src="./static/images/slide4.jpg"
            class="d-block w-100 h-100 hero-img"
            alt="Slide 4 Placeholder"
        />
        <div
            class="carousel-caption d-flex flex-column justify-content-center align-items-center"
        >
            <h1 class="display-2 fw-bold text-white mb-3">Join Our Cause</h1>
            <p class="lead text-white">
            Your contributions help us build brighter futures every day.
            </p>
        </div>
        </div>
    </div>

    <!-- prev/next carousel image buttons -->
    <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#heroCarousel"
        data-bs-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#heroCarousel"
        data-bs-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </header>
    <!-- END HERO SECTION -->

    <!-- PROBLEM STATEMENT BEGIN -->
    <section id="problem" class="py-5 feature-section bg-light">
        <div class="container py-lg-4">
            <h2 class="text-center display-5 fw-bold text-dark mb-3">The Challenge</h2>
            <div class="row align-items-center g-5">
            <!-- image side -->
            <div class="col-lg-6">
                <div class="img-wrapper shadow rounded-4 overflow-hidden">
                <img
                    src="./static/images/problem.jpg"
                    class="img-fluid w-100 h-100"
                    alt="The Challenge Placeholder"
                />
                </div>
            </div>

            <!-- text side -->
            <div class="col-lg-6">
                <div class="pe-lg-3">
                <p class="lead text-muted mb-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident.
                </p>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- PROBLEM STATEMENT END -->

    <!-- SOLUTION SECTION START -->
    <section id="solution" class="py-5 feature-section">
        <div class="container py-lg-4">
            <h2 class="text-center display-5 fw-bold text-dark mb-3">The Solution</h2>
            <div class="row align-items-center g-5">
            <!-- text side -->
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="ps-lg-3">
                <p class="lead text-muted mb-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed ut
                    perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt
                    explicabo. Nemo enim ipsam voluptatem. Sed ut perspiciatis unde
                    omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Nemo enim ipsam voluptatem.
                </p>
                </div>
            </div>

            <!-- image side -->
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="img-wrapper shadow rounded-4 overflow-hidden">
                <img
                    src="./static/images/solution.jpg"
                    class="img-fluid w-100"
                    alt="The Solution Placeholder"
                />
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- solution section end -->

    <!-- faqs section -->
    <section id="faq" class="py-5 faq-section bg-light">
        <div class="container py-lg-4">
            <div class="text-center mb-5">
            <h2 class="display-6 fw-semibold text-dark">What Makes Us Different</h2>
            <p class="text-secondary">
                Learn more about our approach and why our care model stands out.
            </p>
            </div>

            <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="accordion" id="faqAccordion">
                <div class="accordion-item mb-3 border rounded-3 overflow-hidden">
                    <h2 class="accordion-header" id="headingOne">
                    <button
                        class="accordion-button fw-semibold"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                    >
                        How do we provide family-style care?
                    </button>
                    </h2>
                    <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#faqAccordion"
                    >
                    <div class="accordion-body text-secondary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation.
                    </div>
                    </div>
                </div>

                <div class="accordion-item mb-3 border rounded-3 overflow-hidden">
                    <h2 class="accordion-header" id="headingTwo">
                    <button
                        class="accordion-button collapsed fw-semibold"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                    >
                        Where does my donation go?
                    </button>
                    </h2>
                    <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#faqAccordion"
                    >
                    <div class="accordion-body text-secondary">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia.
                    </div>
                    </div>
                </div>

                <div class="accordion-item mb-3 border rounded-3 overflow-hidden">
                    <h2 class="accordion-header" id="headingThree">
                    <button
                        class="accordion-button collapsed fw-semibold"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                    >
                        Can I visit or volunteer in person?
                    </button>
                    </h2>
                    <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#faqAccordion"
                    >
                    <div class="accordion-body text-secondary">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis.
                    </div>
                    </div>
                </div>

                <div class="accordion-item mb-3 border rounded-3 overflow-hidden">
                    <h2 class="accordion-header" id="headingFour">
                    <button
                        class="accordion-button collapsed fw-semibold"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                    >
                        What long-term support do we offer to aging-out youth?
                    </button>
                    </h2>
                    <div
                    id="collapseFour"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFour"
                    data-bs-parent="#faqAccordion"
                    >
                    <div class="accordion-body text-secondary">
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                        aut fugit, sed quia consequuntur magni dolores eos qui ratione
                        voluptatem sequi nesciunt.
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- faqs section end -->


    <!-- start blog section -->
    {% if blogs %}
        <section id="blog-section" class="py-5 blog-section">
            <div class="container">
                <div class="row justify-content-center text-center mb-5">
                    <div class="col-lg-8">
                        <h2 class="display-5 fw-semibold text-dark mb-3">
                            Latest Stories & News
                        </h2>
                        <p class="lead text-secondary">
                        Discover life, updates, and milestones at SCOM Children's Home.
                        </p>
                    </div>
                </div>

            <div class="blog-grid">
                {% for blog in blogs %}
                    <article class="blog-card">
                        <div class="blog-card__image-wrapper">
                            <span class="blog-card__badge bg-secondary">{{blog.tags}}</span>
                            <img src="{{ blog.image }}" alt="{{ blog.title }}" class="blog-card__image" />
                        </div>

                        <div class="blog-card__content">
                            <h4 class="blog-card__title ">
                                <a class="text-dark"
                                href="{{ url_for('blog_post', blog_id=blog.id) }}"
                                style="text-decoration:none;">{{ blog.title }}</a>
                            </h4>
                            <div class="blog-card__meta">
                            <span class="text-muted">📅 {{ blog.date_modified.strftime("%B %d, %Y")}}</span>
                            <!-- <span class="text-muted">Admin</span> -->
                            </div>

                            <div class="blog-card__details">
                                <p class="blog-card__excerpt">
                                {#
                                    lower() - > makes everything lowercase
                                    truncate - > ensures max text displayed in 200 chars long
                                    markdown -> converts it to clean markdown
                                    striptags -> removes html tags, e.g <img> <p> <h1>
                                #}
                                    {{ blog.content | lower() | truncate(length=200, killwords=False ) | markdown | striptags}}
                                </p>
                                <a href="{{ url_for('blog_post', blog_id=blog.id) }}" class="blog-card__btn">
                                    Read More <span>&rarr;</span>
                                </a>
                            </div>
                        </div>
                    </article>

                {% endfor %}
                </div>

        <div class="pt-4 justify-content-center d-flex">
            <a href="{{ url_for('blog_list') }}" class="btn btn-donate align-center"> View More Articles <span>&rarr;</span> </a>
        </div>

        </section>
    {% endif %}
    <!-- end blog section -->


    <!-- SUBSCRIBE TO NEWLETTER SECTION START -->
    <section id="newsletter" class="py-5 newsletter-section bg-light">
        <div class="container py-lg-4 text-center">
            <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <h2 class="display-6 fw-bold mb-3">Subscribe to Our Newsletter</h2>
                <p class="lead opacity-75 mb-4">
                Join our community to receive updates on our children, upcoming
                events, and stories of impact.
                </p>

                <form class="newsletter-form row g-2 justify-content-center">
                <div class="col-12 col-sm-8">
                    <input
                    type="email"
                    class="form-control form-control-lg rounded-pill px-4"
                    placeholder="Enter your email address"
                    required
                    />
                </div>
                <div class="col-12 col-sm-4">
                    <button
                    type="submit"
                    class="btn btn-donate w-100 fw-bold rounded-pill h-100"
                    >
                    Subscribe
                    </button>
                </div>
                </form>
                <small class="d-block mt-3 opacity-50"
                >We respect your privacy. Unsubscribe at any time.</small
                >
            </div>
            </div>
        </div>
    </section>
    <!-- NEWSLETTER SECTION END -->
{% endblock content %}

{% block scripts %}

{% endblock scripts %}
