{% extends 'base.html' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% endif%}
{% endblock title %}

{% block content %}
    <!-- START MINI HEADER SECTION -->
    <header class="page-header d-flex align-items-center justify-content-center text-center" >
      <div class="container hero-content">
        <h1 class="display-1 fw-bold text-white">Our Programs</h1>
      </div>
    </header>
    <!-- END MINI HEADER SECTION -->

    <!-- programs desc -->
    <section class="py-5 feature-section">
      <div class="container py-lg-4">
        <div class="row align-items-center g-5">
          <div class="col-lg-6">
            <div class="pe-lg-3">
              <!-- <h2 class="display-5 fw-bold text-dark mb-3"> -->
              <!--   Empowering Every Child -->
              <!-- </h2> -->
              <p class="fs-4 fs-md-5 text-dark mb-4 text-start">
                We provide holistic, faith-centered programs designed to support the physical, educational,
                social, and spiritual development of children living with disabilities.
                Many of our children come from low-income families and informal settlements
                facing extreme economic strain, which often compromises their healthcare,
                nourishment, and learning opportunities.
              </p>
              <p class="fs-4 fs-md-5 text-dark mb-4 text-start">
                Through our full-boarding facility,
                specialized care staff, therapy professionals, and feeding initiatives, SCOM
                delivers individualized support tailored to each child's unique developmental needs,
                fostering dignity, mobility, and long-term independence.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="img-wrapper shadow rounded-4 overflow-hidden">
              <img
                src=" {{ url_for('static', path='images/image-7.webp') }} "
                class="img-fluid w-100"
                alt="Program Overview Placeholder"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- programs section -->
    <section class="py-5 feature-section  bg-light">
      <div class="container py-lg-4">

        <!-- header section -->
        <div class="text-center mb-3">
            <h2 class="display-4 fw-semibold text-dark">Programs</h2>
            <p class="lead text-secondary">How we Serve</p>
        </div>

        <!-- NOTE: the flex-column-reverse here switches the layout for mobile devices,
        pushing the image behind the content -->
        <div class="row align-items-center g-5 flex-column-reverse flex-lg-row">
          <div class="col-lg-6">
            <div class="img-wrapper shadow rounded-4 overflow-hidden">
              <img
                src=" {{ url_for('static', path='images/image-6.webp') }} "
                class="img-fluid w-100"
                alt="Our Programs Placeholder"
              />
            </div>
          </div>

          <div class="col-lg-6">
            <div class="ps-lg-3">
                <div class="accordion" id="programsAccordion">
                {% for item in programs %}
                    <div class="accordion-item mb-3 border rounded-3 overflow-hidden">
                        <h3 class="accordion-header" id="progHeading{{ item.id }}">
                        <button
                            class="accordion-button fw-semibold fs-5 fs-md-6 {% if not loop.first %}collapsed{% endif %}"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#progCollapse{{ item.id }}"
                            aria-expanded="{% if loop.first %}true{% else %}false{% endif %}"
                            aria-controls="progCollapse{{ item.id }}"
                        >
                            {{ item.title }}
                        </button>
                        </h3>
                        <div
                        id="progCollapse{{ item.id }}"
                        class="accordion-collapse collapse {% if loop.first %}show{% endif %}"
                        aria-labelledby="progHeading{{ item.id }}"
                        data-bs-parent="#programsAccordion"
                        >
                        <div class="accordion-body text-muted fs-5 fs-md-6">
                            {{ item.description }}
                        </div>
                        </div>
                    </div>
                {% endfor %}
                </div>

            </div>
          </div>
      </div>
    </section>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}
